body {
  	background: #00ccff;
  	font-family: Oswald, Arial;
  	text-align: center;
  	text-shadow:2px 2px 5px #878189;
}


/*.pic-burger {
}*/

.noteaten_burgers {
	margin-bottom: 20px;
}

/*.eaten_burgers {
    padding-left: 600px;
}*/

.create-update-form {
  margin: 5px;
  padding: 5px;
  align-content: center;
}

.form-group {
  margin-bottom: 5px;
}

hr {
	border-color: black;	
	width: 350px;
}